<section class="section pt-5 pb-5" id="pricing-plans">
  <div class="container">


    <div class="row">
      <div class="col-md-12">
        <div class="site-heading text-center">
          <h2>Pricing <span>Plan</span></h2>
          <h4>List of our pricing packages</h4>
        </div>
      </div>
    </div>



    <div class="row">
      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">FREE</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="price">14</span>
              <span class="period">days</span>
            </div>
            <ul class="list">
              <li class="active">100 credits</li>
                    <li class="active"> 1 user</li>
                    <li class="active"> 1 agent</li>
                    <li class="active"> 10MB of Knowledge</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item active">
          <div class="pricing-header">
            <h3 class="pricing-title">PRO</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">29</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
                    <li class="active"> 20,000 credits/month</li>
                    <li class="active"> 1 user</li>
                    <li class="active"> 1 agent</li>
                    <li class="active"> 3 tools</li>
                    <li class="active"> 100MB of Knowledge</li>
                    <li class="active"> Live-chat support</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->

      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">TEAM</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">199</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
              <li class="active">100,000 credits/month</li>
              <li class="active"> 10 users</li>
              <li class="active"> 5 Agents</li>
              <li class="active"> Unlimited tools</li>
              <li class="active"> Schedule tasks</li>
              <li class="active"> 1GB of Knowledge</li>
              <li class="active"> Premium Integrations (Messenger, WhatsApp, etc.)</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->


      <!-- ***** Pricing Item Start ***** -->
      <div class="col-lg-3 col-md-6">
        <div class="pricing-item">
          <div class="pricing-header">
            <h3 class="pricing-title">BUSINESS</h3>
          </div>
          <div class="pricing-body">
            <div class="price-wrapper">
              <span class="currency">TND</span>
              <span class="price">499</span>
              <span class="period">/Month</span>
            </div>
            <ul class="list">
                    <li class="active"> 300,000 credits/month</li>
                    <li class="active"> Unlimited users</li>
                    <li class="active"> Multi agent system</li>
                    <li class="active"> Unlimited tools</li>
                    <li class="active"> Schedule tasks</li>
                    <li class="active"> 5GB of Knowledge</li>
                    <li class="active"> Premium Integrations (Messenger, WhatsApp, etc.)</li>
                    <li class="active"> Voice agent</li>
            </ul>
          </div>
          <div class="pricing-footer">
            <a href="#" class="btn-primary-line">Try now</a>
          </div>
        </div>
      </div>
      <!-- ***** Pricing Item End ***** -->
    </div>
  </div>
</section>
