<div class="row">
  <!-- Analytics Cards -->
<!--  <div *ngFor="let analytic of AnalyticEcommerce; trackBy: trackByFn" class="col-md-6 col-xl-3">-->
<!--    <app-card [showHeader]="false" blockClass="dashboard-card">-->
<!--      <h6 class="mb-2 f-w-400 text-muted">{{ analytic.title }}</h6>-->
<!--      <h4 class="mb-3">-->
<!--        {{ analytic.amount }}-->
<!--        <span class="badge {{ analytic.background }} border {{ analytic.border }}">-->
<!--          <i antIcon type="{{ analytic.icon }}" theme="outline"></i>-->
<!--          {{ analytic.percentage }}-->
<!--        </span>-->
<!--      </h4>-->
<!--      <p class="mb-0 text-muted text-sm">-->
<!--        You made an extra <span class="{{ analytic.color }}">{{ analytic.number }}</span> this year-->
<!--      </p>-->
<!--    </app-card>-->
<!--  </div>-->

  <!-- Statistiques Utilisateurs -->
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">Clients actifs</h6>
      <h4 class="mb-3">{{ activeCount }}</h4>
    </app-card>
  </div>
  <div class="col-md-6 col-xl-3">
    <app-card [showHeader]="false" blockClass="dashboard-card">
      <h6 class="mb-2 f-w-400 text-muted">Clients bloqués</h6>
      <h4 class="mb-3">{{ blockedCount }}</h4>
    </app-card>
  </div>
<!--  <div class="col-md-12 col-xl-6">-->
<!--    <app-card [showHeader]="false" blockClass="dashboard-card">-->
<!--      <h6 class="mb-2 f-w-400 text-muted">Utilisateurs par plan d'abonnement</h6>-->
<!--      <ul class="list-unstyled mb-0">-->
<!--        <li *ngFor="let plan of planStats | keyvalue">-->
<!--          <span class="fw-bold">{{ plan.key }}</span> : {{ plan.value }} utilisateur{{ plan.value > 1 ? 's' : '' }}-->
<!--        </li>-->
<!--      </ul>-->
<!--    </app-card>-->
<!--  </div>-->

  <!-- Charts -->
  <div class="col-md-12 col-xl-12">
    <app-monthly-bar-chart></app-monthly-bar-chart>
  </div>

  <div class="col-md-12 col-xl-12">
    <app-analytics-chart></app-analytics-chart>
  </div>


<!--  <div class="col-md-12 col-xl-12">-->
<!--    <app-income-overview-chart></app-income-overview-chart>-->
<!--  </div>-->




  <!-- Sales Report -->
<!--  <div class="col-md-12 col-xl-8">-->
<!--    <app-sales-report-chart></app-sales-report-chart>-->
<!--  </div>-->

  <!-- Transaction History -->

</div>
